[Unit]
Description=x100speed video transcode
After=network.target

[Service]
Type=forking
ExecStart=sudo /usr/local/bin/python3 /data/x100speed_transcode/sources/run.py
ExecStop=sudo /usr/local/bin/python3 /data/x100speed_transcode/sources/shutdown.py
PrivateTmp=true

[Install]
WantedBy=multi-user.target